{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block head %}
    <!--Leaflet css-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <!-- Leaflet js: Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <!-- Geopackage plugin via unpkg -->
    <script src="https://unpkg.com/@ngageoint/geopackage@4.1.0/dist/geopackage.min.js"></script>

{% endblock %}

{% block main %}
  <div id="map"></div>
  <script src="https://unpkg.com/@ngageoint/leaflet-geopackage@2.0.4/dist/leaflet-geopackage.min.js"></script>

  <script>
    
    // Initialize the map
    var map = L.map('map').setView([-6.180212, 106.81857], 11);

    // Set map boundary and bouce back
    map.setMaxBounds(map.getBounds());

    // Load a tile layer, load stamen as tile layer
    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}{r}.{ext}', {
      subdomains: 'abcd',
      minZoom: 1,
      maxZoom: 16,
      ext: 'png',
    }).addTo(map);

    var info = L.control();

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info'); // Create a div with a class "info"
        this.update();
        return this._div;
    };

    // Method that we will use to update the control based on feature properties passed
    info.update = function (props) {
        this._div.innerHTML = '<h4>Jakarta Crime Rate</h4>' +  (props ?
        '<b>' + props.name + '</b><br />' + props.crimerate + ' %'
        : 'Hover over a district');
    };

    info.addTo(map);
    
    //var popup = L.popup();

    //function onMapClick(e) {
    //popup
    //   .setLatLng(e.latlng)
    //   .setContent("You clicked the map at " + e.latlng.toString())
    //   .openOn(map);
    //}
    //map.on('click', onMapClick);

    function PointCrime(){
      fetch("./static/assets/clustering.json")
        .then(response=>response.json())
        .then(data=>{
          var mydata = data;
          var index = mydata.length;
          for (i=0; i<=index-1; i++){
            var circle = L.circle([mydata[i].latitude, mydata[i].longitude], {
              color: 'red',
              fillColor: '#f03',
              fillOpacity: 0.5,
              radius: mydata[i].range
            }).addTo(map);
          circle.bindPopup("Daerah Berbahaya");
          }
            
        });
    }
    PointCrime();

    function highlightFeature(e) {
      var layer = e.target;

      layer.setStyle({
          weight: 5,
          color: '#666',
          dashArray: '',
          fillOpacity: 0.7
      });

      if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
          layer.bringToFront();
      }
      info.update(layer.feature.properties);
    }

    function resetHighlight(e) {
        jakartaDistrict.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
	    	map.fitBounds(e.target.getBounds());
  	}
    
    // Use geopackage to set a layer

    var jakartaDistrict = L.geoPackageFeatureLayer([], {
      geoPackageUrl: "./static/assets/Kecamatan-DKI-Jakarta.gpkg",
      layerName: 'Kecamatan-DKI-Jakarta',
      onEachFeature : function(feature, layer, e){
        var name = feature.properties.name;
        var crimerate = feature.properties.crimerate;
        layer.on('click', function() {layer.bindPopup(name + ": " + crimerate);});

        //layer.on('mouseout', function() {layer.closePopup();});

        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            
            //click: zoomToFeature
        });
    }
    }).addTo(map);

    geojson = L.geoJson(jakartaDistrict, {
        style: style,
        onEachFeature: onEachFeature
    }).addTo(map);

  </script>
{% endblock %}

{% block script %}
{% endblock %}
</body>
</html>
